body{
  background-color: lightgray;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.logo{
   padding-left: 40%;
   display: none;
    filter: contrast(200%);
}
nav{
    background-color: darkslategrey;
    height: 80px;
    box-shadow: white 0 0 3px 0;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15PX;
}
nav ul{
    text-align: center;
    padding-top: 30px;
    color: white;

}
nav ul li{
display: inline;
    padding: 4%;
    padding-top: 30px;
    padding-bottom: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li:hover{
    background: orangered;
    height: 5px;
    box-shadow: white 0 0 7px 0;
}

.logo-img{
    float: left;
    position: relative;
    margin: 20px 15px 15px 15px;
    margin-left: 25px;
}

.bg-div{
   overflow: hidden;
}

.mainContainer{

    box-shadow: black 0 0 3px 0;
    border-radius: 25px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    margin-top: 10px;

}
article{
    text-align: center;
}
article figure{
    padding: 2px;
    text-align: center;
}
.smallbox{
    width: 260px;
    height: 250px;
    box-shadow: black 0 0 7px 0;
    border: black 2px;
    border-radius: 25px;
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}
footer{
    height: 100px;
    text-align: center;
    background-color: darkslategrey;
    color: white;
    box-shadow: white 0 0 10px 0;
    padding-top: 25px;
    word-spacing: 4px;
    border-radius: 10px;
}
.fontStyle {
    font-family: Algerian;
    font-size: 55px;

}
.textStyle{
    font-size: 20px;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;

}
.bottun{
    float: right;
}
.deuteranopia {
    filter: sepia(100%);
}
/*------------------------Darkmode------------------*/

.dark-mode {
    background: lightgray;
    color: white;
}

.dark-mode .mainContainer {
    background: #292C35;
}
.dark-mode nav {
    background: #292C35;
}
.dark-mode footer {
    background: #292C35;
}

.dark-mode .smallbox {
    background: #1d3557;
}




/*------------------------Darkmode button------------------*/
* {
	box-sizing: border-box;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.switch {
	background-color: #292C35;
	border-radius: 50px;
	display: flex;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 70px;
}
.switch .circle {
	background-color: lightgray;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .switch .circle {
	transform: translateX(45px);
}
.checkbox:checked + .switch {
  background-color: white;
  transition: background 0.2s linear;
}

/*--------------------------------REPOSNIVE---------------------*/
@media screen and (max-width: 1100px) {
  .logo-img {
    display: none;
  }
  .logo {
    display: block;
  }
}

@media screen and (max-width: 650px) {
    .logo{
        padding-left: 30%;
    }
    nav ul{
        font-size: 14px;
    }

}

@media screen and (max-width: 560px) {
    nav {
        height: 300px;
        width: 93%;
        margin-left: 4%;
    }

    nav ul li {
        display: block;
        text-align: center;
        padding: 3.75%;
    }

    nav ul {
        padding-left: 0px;
    }

.image-post{
    width: 375px;

}
.fontStyle{
    font-size: 38px;
}
}
@media screen and (max-width: 450px){
    .image-post{
        width: 300px;

    }
}
@media screen and (max-width: 400px){

    .logo{
        padding-left: 20%;
        width: 200px;
        height: 70%;
    }
    .fontStyle{
        font-size: 26px;
    }
    .smallbox{
        width:170px;
        height: max-content;
    }
    nav ul li{
        padding: 5.5%;
    }
    footer{
        font-size: 12px;
    }
    .image-post{
        width:80%;

    }
}
@media screen and (max-width: 300px){
    .smallbox{
        width: 100px;
        height: max-content;
        padding: 0;
        font-size: 14px;

    }
    nav ul li{
        padding: 7.25%;
    }
.fontStyle{
    font-size: 20px;
}
}
@media screen and (max-width: 250px){
    .img-about{
        width: 90%;
        height: 50%;
    }
}
@media screen and (max-width: 250px){
    .logo{
        width: 70%;
    }
    nav ul{
        font-size: 60%;
    }
    nav{
        alignment: center;
    }
    .fontStyle{
        font-size: 14px;
    }
    .smallbox{
    margin-left: 0;
     }
}

@media screen and (max-width: 160px){
    footer{
        width: max-content;
    }
}
